.ser_card_link {
    align-items: center !important;
    color: #fff  !important;
    display: flex  !important;
    font-size: 15px  !important;
    font-weight: 700  !important;
    height: 32px  !important;
    justify-content: space-evenly  !important;
    max-width: 168px  !important;
    text-decoration: none  !important;
    transition: all 1s ease-out;   
     gap: 20px  !important;
}

.ser_card_link:hover {
    width: 175px !important;
}
.services-container {
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
    padding: 40px 20px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-top: 70px;
  }
  .service-location{
    color: #fff;
    opacity: 0.6;
    margin-left: 50px;
    letter-spacing: 1px;
  }
  .service-title {
    font-size: 35px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    margin-left: 50px;
  }
  .services-cards {
    display: flex;
    gap: 50px;
    margin-left: 50px;
  }
  .services-card {
    width: 100%;
    max-width: 350px;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .service-img {
    width: 350px;
    height: 220px;
    margin: 0 auto;
  }
  .service-img img {
    width: 100%;
    height: 100%;
  }
  .service-about {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  .service-about .about-title {
    font-size: 25px;
    font-weight: 700;
    line-height: 1.5;
    color: #fff;
  }
  .service-about .about-desc {
    font-size: 18px;
    color: #fff;
    line-height: 1.5;
    letter-spacing: 2px;
  }
  .service-about .about-btn {
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 10px;
    color: #fff;
    text-transform: uppercase;
    font-size: 18px;
  }
  .service-icon {
    font-size: 35px;
  }
  @media screen and (max-width: 1000px) {
    .service-title {
      font-size: 30px;
    }
    .services-card {
      max-width: 300px;
    }
    .service-img {
      width: 300px;
    }
    .service-about .about-title {
      font-size: 20px;
      line-height: 1.2;
    }
    .service-about .about-desc {
      font-size: 16px;
      line-height: 1.2;
    }
    .service-about .about-btn {
      font-size: 16px;
    }
    .service-icon {
      font-size: 30px;
    }
  }
  @media screen and (max-width:800px) {
      .service-title {
          font-size: 25px;
          margin-left: 0;
      }
      .services-cards {
          flex-direction: column;
          gap: 20px;
          margin-left: 0;
      }
      .services-card {
          max-width: 100%;
      }
      .service-img {
          width: 100%;
          height: 300px;
      }
      .service-about .about-title {
          font-size: 20px;
      }
      .service-about .about-desc {
          font-size: 16px;
      }
      .service-about .about-btn {
          font-size: 16px;
      }
      .service-icon {
          font-size: 25px;
      }    
  }
  @media screen and (max-width:400px) {
      .services-container{
          margin-top: 30px;
      }
      .service-img{
          height: 200px;
      }
      .service-about .about-btn{
          font-size: 14px;
      }
      .service-icon{
          font-size: 20px;
      }
      .service-about .about-title{
          font-size: 18px;
      }
      .service-about .about-desc{
          font-size: 14px;
      }
  }
  