.bg-icons {
  align-items: center;
  border: 1px solid #0000;
  border-radius: 15px;
  color: #fff;
  display: flex;
  font-size: 35px;
  height: 60px;
  justify-content: center;
  width: 75px;
}

/* .MuiOutlinedInput-notchedOutline .MuiOutlinedInput-root .css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input{
    border: 1px solid #c3c3c3  !important;
    background-color: #838383bd;
    color:white !important;
    font-size: 20px !important;
    margin-bottom: 20px !important;
    outline: none !important;
    padding: 15px !important;
    width: 100% !important;
  } */

.MuiOutlinedInput-notchedOutline {
    border:none !important ;
    outline: none !important;
    width: 100% !important;
  }

  .carsinfo-form .cars-info-input{
    border: 1px solid #c3c3c3  !important;
    background-color: #838383bd;
    color:white !important;
    font-size: 20px !important;
    margin-bottom: 20px !important;
    outline: none !important;
    padding: 5px !important;
    width: 100% !important;
  }