.slider-container {
  /* background: linear-gradient(); */
  background-color: #111219;
  background-image: linear-gradient(90deg, #111219 20%, #1a1e1f 70%);
}
.img-container {
  width: 450px;
  height: 350px;
  margin: 0 auto;
}
.cars-image {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  cursor:pointer;
}
