.footer-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer-container .container{
    background-color: #111219;
    margin: 0 auto;
    width: 100%;
    max-width: 1920px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    height: 600px;
}
.footer-cards{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    width: 100%;
}
.footer-card1{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 250px;
    align-items: flex-start;
}
.footer-card1 .footer-logo img{
    width: 100px;
}
.footer-title,.footer-descr,.footer-btn,.cars,.footer-card2-title,.footer-about-title,.footer-about-descr,.footer-follows-title,.conditions,.license{
    color: #fff;
    text-decoration: none;
}
.footer-title,.footer-card2-title,.footer-about-title,.footer-follows-title{
    font-weight: 500;
    font-size: 20px;
}
.footer-card1 .footer-title{
    text-transform: uppercase;
}
.footer-descr{
    opacity: 0.6;
}
.footer-btn{
    background: none;
    outline: none;
    border: 1px solid #fff;
    padding: 15px 30px;
    cursor: pointer;
    border-radius: 10px;
    font-size: 20px;
    text-transform: uppercase;
    transition: 0.3s;
    text-decoration: none;
}
.footer-btn:hover{
    background-color: #F1394D;
    border-color: #F1394D;
}
.cards2-card1{
    display: flex;
    justify-content: space-between;
    gap: 40px;
}
.footer-card2{
    display: flex;
    flex-direction: column;
    width: 60%;
    gap: 20px;
}
.card2-card3{
    align-items: center;
}
.cars{
    opacity: 0.6;
}
.footer-card2-title,.footer-about-title{
    text-transform: uppercase;
}

.cards2-card2{
    display: flex;
    justify-content: space-between;
}
.footer-about{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.card2-card3{
    justify-content: space-between;
}
.footer-follows{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.footer-follows-icons{
    display: flex;
    justify-content: flex-start;
    gap: 15px;
}
.footer-icon{
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    opacity: 0.6;
}
.footer-about-descr{
    opacity: 0.6;
}
.instagram:hover,.youtube:hover{
    opacity: 1;
    color: #F1394D;
    transition: 0.3s;
}
.facebook:hover{
    opacity: 1;
    color: #3B5998;
    transition: 0.3s;
}
.conditions,.license{
    opacity: 0.6;
    text-decoration: none;
    font-size: 15px;
}
.conditions:hover{
    color: #F1394D;
    transition: 0.3s;
}