*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background: #111219;
}

<<<<<<< HEAD
a {
  text-decoration: none;
}

:root {
  --bg-color-primary: #111219;
  --bg-color-secondary: #1E1F27;
  --bg-color-third: #272933;
  --title-font-size: 36px;
  --text-font-size: 18px;
  --subtext-font-size: 14px;
  --font-color-primary: #fff;
  --font-color-secondary: #fff9;
}
@media screen and (max-width: 768px) {
  :root {
    --title-font-size: 22px;
    --text-font-size: 15px;
    --subtext-font-size: 13px;
  }
}  
=======
.container-global{
  max-width: 1400px;
  margin: 0 auto;

}
>>>>>>> 747d26639e72889cc288891d324add79b4f78749
